:root {

  --primary-color: #b53f3f;

}

* {
	box-sizing: border-box;
}
svg {
	width: 65px;
	fill: var(--primary-color);
}
body {
	background-color: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding: 20px;
	color: #777;
}
.container {
	text-align: center;
	max-width: 350px;
	box-shadow: 0 0 10px #0004;
	padding: 1.5rem;
	border-radius: 3px;
}

h1 {
	color: var(--primary-color);
	margin: 0.25rem 0 0.5rem;
	font-size: 1.4rem;
}

p {
	text-align: center;
	color: #a29a9a;
	margin: 0;
	font-size: 12px;
}

.btn {
	color: #fff;
	background: var(--primary-color);
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	display: inline-block;
	box-shadow: 0 0 8px #0002;
}

.money-img {
	width: 150px;
}

.currency {
	padding: 0.5rem;
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fcfcfc;
	border-radius: 4px;
	box-shadow: 0 0 8px #0002;
}

.currency select {
	padding: 5px 20px 5px 10px;
	border-radius: 3px 0 0 3px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #efefef;
	font-size: 16px;
	background: transparent;
	backdrop-filter: brightness(0.95);
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
	background-position: right 10px top 50%, 0, 0;
	background-size: 9px auto, 100%;
	background-repeat: no-repeat;
}

.currency input {
	border: 0;
	background: transparent;
	font-size: 20px;
	text-align: right;
	width: 100%;
	color: #666;
}

.swap-rate-container {
	padding: 0.5rem 0;
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rate {
	color: var(--primary-color);
	font-size: 14px;
	padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
	outline: 0;
}

@media (max-width: 600px) {
	.currency input {
		width: 200px;
	}
}
